<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CMS</title>
  <link rel="stylesheet" href="/style.css">
  <script src="/storedaily.js"></script>
</head>
<body>
  <div id="main">
    <nav>
      <ul>
        <li><a href="/user">User</a></li>
        <li><a href="/order">Order</a></li>
        <li><a href="/orderitem">Order Item</a></li>
        <li><a href="/item">Item</a></li>
        <li><a href="/store">Store</a></li>
      </ul>
    </nav>
    <a id="backButton" href="javascript:history.back();">Back</a>

    <h3>매장 정보</h3>
    <table border="1" id="StoreTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody id="StoreTableBody">
        <!-- Table Rows -->
      </tbody>
    </table>
    
    <h3>일간 매출액</h3>
    <table border="1" id="StoreDailySalesTable">
      <thead>
        <tr>
          <th>Date</th>
          <th>Revenue</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody id="StoreDailySalesTableBody">
        <!-- Table Rows -->
      </tbody>
    </table>

    <h3>단골 고객</h3>
    <table border="1" id="StoreRegularTable">
      <thead>
        <tr>
          <th>User Id</th>
          <th>Name</th>
          <th>Frequency</th>
        </tr>
      </thead>
      <tbody id="StoreRegularTableBody">
        <!-- Table Rows -->
      </tbody>
    </table>

  </div>
</body>
</html>