<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CMS</title>
  <link rel="stylesheet" href="/style.css">
  <script src="/users.js"></script>
</head>
<body>
  <div id="main">
    <nav>
      <ul>
        <li><a href="/user">User</a></li>
        <li><a href="/order">Order</a></li>
        <li><a href="/orderitem">Order Item</a></li>
        <li><a href="/item">Item</a></li>
        <li><a href="/store">Store</a></li>
      </ul>
    </nav>
    
    <div id="searchbar">
      <form id="searchForm">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
  
        <label for="gender">Gender:</label>
        <select id="gender" name="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
  
        <button type="button" onclick="submitSearch()">Search</button>
      </form>
    </div>
    
    <div id="searchResults">
        <!-- Search Results -->
    </div>

    <table border="1" id="userTable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Gender</th>
          <th>Age</th>
          <th>Birthdate</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody id="userTableBody">
        <!-- User Table Rows -->
      </tbody>
    </table>
    
    <div id="pagination">
      <!-- Pagination Results -->
    </div>
  </div>
</body>
</html>
