<!DOCTYPE html>
<html>
    <head>
        <title>과일</title>
    </head>
    <body>
        <h1>과일 목록</h1>
        <ul>
            <% for (var i = 0; i < fruits.length; i++) { %>
                <li><%= fruits[i] %></li>
            <% } %>
        </ul>
    </body>
</html>