<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>CMS</title>
  <link rel="stylesheet" href="/style.css">
  <script src="/storedetail.js"></script>
</head>
<body>
  <div id="main">
    <nav>
      <ul>
        <li><a href="/user">User</a></li>
        <li><a href="/order">Order</a></li>
        <li><a href="/orderitem">Order Item</a></li>
        <li><a href="/item">Item</a></li>
        <li><a href="/store">Store</a></li>
      </ul>
    </nav>
    <div id="backbutton">
      <a href="javascript:history.back();">Back</a>
    </div>

    <h3>매장 정보</h3>
    <table border="1" id="StoreDetailTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody id="StoreDetailTableBody">
        <!-- Table Rows -->
      </tbody>
    </table>
    
    <h3>월간 매출액</h3>
    <table border="1" id="StoreSalesTable">
      <thead>
        <tr>
          <th>Month</th>
          <th>Revenue</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody id="StoreSalesTableBody">
        <!-- Table Rows -->
      </tbody>
    </table>

  </div>
</body>
</html>