<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CMS</title>
  <link rel="stylesheet" href="/style.css">
  <script src="/userdetail.js"></script>
</head>
<body>
  <div id="main">
    <nav>
      <ul>
        <li><a href="/user">User</a></li>
        <li><a href="/order">Order</a></li>
        <li><a href="/orderitem">Order Item</a></li>
        <li><a href="/item">Item</a></li>
        <li><a href="/store">Store</a></li>
      </ul>
    </nav>
    <div id="backbutton">
      <a href="javascript:history.back();">Back</a>
    </div>

    <h3>고객 정보</h3>
    <table border="1" id="UserDetailTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Gender</th>
          <th>Age</th>
          <th>Birthdate</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody id="UserDetailTableBody">
        <!-- Table Rows -->
      </tbody>
    </table>
    
    <h3>자주 주문한 상품 TOP 5</h3>
    <table border="1" id="UserItemTop5Table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Counts</th>
        </tr>
      </thead>
      <tbody id="UserItemTop5TableBody">
        <!-- Table Rows -->
      </tbody>
    </table>
    
    <h3>자주 방문한 매장 TOP 5</h3>
    <table border="1" id="UserStoreTop5Table">
      <thead>
        <tr>
          <th>Store</th>
          <th>Counts</th>
        </tr>
      </thead>
      <tbody id="UserStoreTop5TableBody">
        <!-- Table Rows -->
      </tbody>
    </table>
    
    <h3>주문 정보</h3>
    <table border="1" id="UserOrderDetailTable">
      <thead>
        <tr>
          <th>Order At</th>
          <th>Order Id</th>
          <th>Store Id</th>
        </tr>
      </thead>
      <tbody id="UserOrderDetailTableBody">
        <!-- Table Rows -->
      </tbody>
    </table>

  </div>
</body>
</html>